.container {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color);
  position: relative;
}

.mainContent {
  flex: 1;
  width: 100%;
  transition: margin-right 0.3s ease;
}





