.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  gap: 24px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: var(--text-primary);
}
